
#---------------------------------------------------#
# 配置文件需要放置在 $HOME/.config/clash/config.yml
# 或者运行目录下的config.yml
# fallback: 与 nameserver 并发发起DNS请求，如果解析的IP地址是CN就用 nameserver，如果不是 CN 就用 fallback
# fake-ip-filter: 代表匹配的不走fake-ip
#---------------------------------------------------#
# 混合端口 HTTP和SOCKS5用一个端口
port: 7890
socks-port: 7891
redir-port: 7892
mixed-port: 7893
tproxy-port: 7895
allow-lan: false
bind-address: '*'
secret: xxooooxx
authentication:
  - "admin:xxooooxx"
ipv6: true
find-process-mode: strict
log-level: debug
mode: rule
external-controller: 0.0.0.0:9090
experimental:
  sniff-tls-sni: true
unified-delay: true
tcp-concurrent: true
global-client-fingerprint: chrome
geodata-loader: standard
geox-url:
  geoip: "https://ghproxy.com/https://github.com/MetaCubeX/meta-rules-dat/releases/download/latest/geoip.dat"
  geosite: "https://ghproxy.com/https://github.com/MetaCubeX/meta-rules-dat/releases/download/latest/geosite.dat"
  mmdb: "https://ghproxy.com/https://github.com/MetaCubeX/meta-rules-dat/releases/download/latest/country.mmdb"
tun:
  enable: true
  stack: system # system or gvisor
  dns-hijack:
    - any:53
    - tcp://any:53
  auto-redir: true
  auto-route: true
  auto-detect-interface: true
  strict-route: true
profile:
  store-selected: true
  store-fake-ip: true
dns:
  enable: true
  ipv6: true
  prefer-h3: true
  listen: 0.0.0.0:53
  enhanced-mode: fake-ip # fake-ip or redir-host
  fake-ip-range: 28.0.0.1/8
  use-hosts: true
  default-nameserver:
    - 223.5.5.5
    - 119.29.29.29
  nameserver-policy:
    "geosite:cn,private":
      - https://doh.pub/dns-query
      - https://dns.alidns.com/dns-query
    "geosite:google":
      - tls://8.8.4.4
      - tls://8.8.8.8
    "geosite:geolocation-!cn":
      - tls://8.8.4.4
      - https://1.0.0.1/dns-query
    "+.newlink.com, +.newlinks.com, +.nlktj.cn":
      - 223.5.5.5
      - 119.29.29.29
    "geosite:category-ads-all": rcode://success
  proxy-server-nameserver:
    - https://doh.pub/dns-query
    - https://dns.alidns.com/dns-query
  nameserver:
    - https://dns.alidns.com/dns-query
    - https://doh.pub/dns-query
  fake-ip-filter:
    - "WORKGROUP"
    - "apps.apple.com"
    - "+.synology.me"
    - "+.synology.com"
    - "+.lohome.top"
    - "+.ddnsfree.com"
    - "+.newlink.com"
    - "+.newlinks.com"
    - "+.shylwlkj.com"
    - "+.nlsaas.com"
    - "+.nlktj.cn"
    - "+.czb365.com"
    - "+.tencentcdb.com"
    - "+.dnsapi.cn"
    - "+.10010.com"
    - "+.lan"
    - "+.oray.net"
    - "+.localdomain"
    - "+.example"
    - "+.invalid"
    - "+.localhost"
    - "+.test"
    - "+.local"
    - "+.home.arpa"
    - time.*.com
    - time.*.gov
    - time.*.edu.cn
    - time.*.apple.com
    - time1.*.com
    - time2.*.com
    - time3.*.com
    - time4.*.com
    - time5.*.com
    - time6.*.com
    - time7.*.com
    - ntp.*.com
    - ntp1.*.com
    - ntp2.*.com
    - ntp3.*.com
    - ntp4.*.com
    - ntp5.*.com
    - ntp6.*.com
    - ntp7.*.com
    - "*.time.edu.cn"
    - "*.ntp.org.cn"
    - "+.pool.ntp.org"
    - time1.cloud.tencent.com
    - music.163.com
    - "*.music.163.com"
    - "*.126.net"
    - musicapi.taihe.com
    - music.taihe.com
    - songsearch.kugou.com
    - trackercdn.kugou.com
    - "*.kuwo.cn"
    - api-jooxtt.sanook.com
    - api.joox.com
    - joox.com
    - y.qq.com
    - "*.y.qq.com"
    - streamoc.music.tc.qq.com
    - mobileoc.music.tc.qq.com
    - isure.stream.qqmusic.qq.com
    - dl.stream.qqmusic.qq.com
    - aqqmusic.tc.qq.com
    - amobile.music.tc.qq.com
    - "*.xiami.com"
    - "*.music.migu.cn"
    - music.migu.cn
    - "+.msftconnecttest.com"
    - "+.msftncsi.com"
    - msftconnecttest.com
    - msftncsi.com
    - localhost.ptlogin2.qq.com
    - localhost.sec.qq.com
    - "+.srv.nintendo.net"
    - "*.n.n.srv.nintendo.net"
    - "+.stun.playstation.net"
    - xbox.*.*.microsoft.com
    - "*.*.xboxlive.com"
    - xbox.*.microsoft.com
    - xnotify.xboxlive.com
    - "+.battlenet.com.cn"
    - "+.wotgame.cn"
    - "+.wggames.cn"
    - "+.wowsgame.cn"
    - "+.wargaming.net"
    - proxy.golang.org
    - stun.*.*
    - stun.*.*.*
    - "+.stun.*.*"
    - "+.stun.*.*.*"
    - "+.stun.*.*.*.*"
    - "+.stun.*.*.*.*.*"
    - heartbeat.belkin.com
    - "*.linksys.com"
    - "*.linksyssmartwifi.com"
    - "+.router.asus.com"
    - mesu.apple.com
    - swscan.apple.com
    - swquery.apple.com
    - swdownload.apple.com
    - swcdn.apple.com
    - swdist.apple.com
    - lens.l.google.com
    - stun.l.google.com
    - dl.google.com
    - "+.nflxvideo.net"
    - "*.square-enix.com"
    - "*.finalfantasyxiv.com"
    - "*.ffxiv.com"
    - "*.ff14.sdo.com"
    - ff.dorado.sdo.com
    - "*.mcdn.bilivideo.cn"
    - "+.media.dssott.com"
    - shark007.net
    - ntp.ntsc.ac.cn
    - '*.mcdn.bilivideo.cn'
    - "+.media.dssott.com"
    - shark007.net
    - ntp.ntsc.ac.cn
    - '*.mcdn.bilivideo.cn'
    - +.media.dssott.com
    - shark007.net
    - +.cmbchina.com
    - +.cmbimg.com
    - local.adguard.org
    - +.sandai.net
    - +.n0808.com